<div class="d-flex flex-row bd-highlight mb-2">
    <div class="form-group row" style="width: 60%;">

        <label class="col-sm-4 col-form-label">EmployeeId</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="EmployeeId" placeholder="Enter Employee Id">
        </div>


        <label class="col-sm-4 col-form-label">FirstName</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="FirstName" placeholder="Enter First Name"
            >
           
        </div>
        

       

        <br>

        <label class="col-sm-4 col-form-label">LastName</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="LastName" placeholder="Enter Last Name">
        </div>

        <br>

        <label class="col-sm-4 col-form-label">Designation</label>

        <div class="col-sm-8">

            <select class="form-control" [(ngModel)]="selectedOption" (change)="onOptionChange1()">

                <option *ngFor="let dn of DesignationName" [value]="dn">
                    {{ dn }}
                </option>
            </select>
        </div>


        <br>
        <label class="col-sm-4 col-form-label">DateofJoining</label>
        <div class="col-sm-8">
            <input type="date" class="form-control" [(ngModel)]="DateOfJoining" placeholder="Enter Date of Joining"
                >
        </div>
        <br>

        <label class="col-sm-4 col-form-label">ReportingManagerEmployeeId</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="ReportingManagerEmployeeId"
                placeholder="Enter Manager Id">
        </div>
        <br>

        <label class="col-sm-4 col-form-label">Gender</label>
        <div class="col-sm-8">
            <div *ngFor="let option of GenderOptions">
                <label>
                    <input type="radio" name="GenderOptions" [(ngModel)]="Gender" [value]="option">
                    {{ option }}
                </label>
            </div>
        </div>


        <label class="col-sm-4 col-form-label">EmployeeAddress</label>
        <div class="col-sm-8">
            <textarea class="form-control" [(ngModel)]="EmployeeAddress" placeholder="Enter Address"></textarea>
        </div>

        <br>

        <label class="col-sm-4 col-form-label">Country</label>
        <div class="col-sm-8">
            <select class="form-control" [(ngModel)]="selectedCountry" required>

                <option *ngFor="let country of Country" [value]="country.name">{{ country.name }}</option>
            </select>
        </div>
        <br>

      

        <label class="col-sm-4 col-form-label">State</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="State" placeholder="Enter State">
        </div>
        <br>

        <label class="col-sm-4 col-form-label">Pincode</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="Pincode" placeholder="Enter Pincode">
        </div>

        <br>
           
        <label class="col-sm-4 col-form-label">Department Name</label>
        <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="selectedDepartment" (change)="onOptionChange()">
            <option *ngFor="let option of DepartmentName" [value]="option">{{ option }}</option>
        </select>
    </div>



        <label class="col-sm-4 col-form-label">IsActive</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="IsActive"
                placeholder="Enter true for Active, false for Inactive">
        </div>

        <br>
    </div>
</div>

<button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0" class="btn btn-primary">
    Update
</button>




